
<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suhaib site</title>
</head>
<body>
    
    
    
</form>
<form method="POST">
    {% csrf_token %}
    <br><br>
    Name <input  name="name"><br><br>
    OTP <input type="number" name="otp"><br><br>
    New Password <input  type="password"name="pass1"><br><br>
    Confirm Password <input  type="password"name="pass2"><br><br>
    <button type='submit' name="xx" value=xx>Submit</button>
    
</form>

</body>

