<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .leave{
        width: 1000px;
        height: 700px;
        background-color: white;
        margin-left: 300px;
        margin-right: 200px;
    }
    
  .l{
      background-color: royalblue;
        margin-left: 150px;
      width:700px;
      border-radius: 15px;
  }
  h2{
      padding: 10px;
      color: white;
      text-align: center;
    
  }
  .n{
      border-color: royalblue;
      border-radius: 15px;
      width: 100px;
      height: 100px;
      margin-left: 100px;
  }
  .alignleft {
   
    border-radius: 25px;

    max-width: 300px;
    margin: auto;
    background-color: #FFFFFF;
    box-shadow: 20px 20px 10px royalblue;
    float: left;
    margin-left: 50px;
}
.alignright {
    border-radius: 25px;

    max-width: 300px;
    margin: auto;
    background-color: #FFFFFF;
    box-shadow: 20px 20px 10px royalblue;
    float: right;
    margin-right: 50px;
   
}
.centre1{
    border-radius: 25px;

    max-width: 300px;
    margin: auto;
    background-color: #FFFFFF;
    box-shadow: 20px 20px 10px royalblue;
}
 

</style>
<body bgcolor="#CED4DA">

  
<br><br>
    <div  class="leave">
        <div class="a" align="center"><h1>Knowlvers Consulting</h1></div>
        <br><br>
                <div class="l"><h2>Paid/Earned leaves and its components</h2></div>
                <br><br><br><br>
                <div  class="centre1"  ><h3 style="font-size: 1.5em; padding:40px">Earned leaves in a year = 21
                    <br>
                </h3>
                </div>
                <div class="alignleft" ><br><h3 style="font-size: 1.5em;">Sick / Medical leaves = 6
                
                    <h3 style="font-size: 1.5em;padding: 20px">Cannot be carried forward to next year</h3>
                </h3>
                </div>
                <div  class=alignright ><br><h3 style="font-size: 1.5em;">Non-medical or Casual leaves = 15
                    <h3 style="font-size: 1.5em;padding: 20px">Can be carried forward to next year</h3>
                </h3>
                </div>
                
    </div>
<br><br>
    <div  class="leave">
        <br><br><br>
        <div class="l"><h2>Non-medical Paid/Earned leaves - the spread and concentration</h2></div>
        <br><br>
        <ul>
            <li ><h3 style="font-size: 1.5em;">15 non-medical leaves are earned uniformly over 12 months. Mathematically, 
                1.25 leaves is earned over a month, or 5 leaves are earned over 4 months.</h3></li>
            <li ><h3 style="font-size: 1.5em;">For any non-medical leave, or a planned leave, the employee must apply for leave
                (via. email to at least 1 team member of the management) at least one (1) week
                in advance.</h3></li>
            <li ><h3 style="font-size: 1.5em;">If 5 leaves in continuity are needed, a month’s notice is needed to be given to at 
                least 1 member of the company’s management. </h3></li>
            <li ><h3 style="font-size: 1.5em;">If more than 5 leaves in continuity are needed, 3 months’ notice is needed to 
                be given to at least 1 member of the company’s management.</h3></li>
                <br><br><br>
                <i style="font-size: 1.5em;">Final decision of grant of leave rests with the management.Applying for leave should not be treated as grant or approval of leaves</i>
        </ul>
        <!-- <br><br>
        <i style="padding:30px;font-size: 1.5em;">Final decision of grant of leave rests with the management.Applying for leave should not</i><br>
        <i style="padding:30px;font-size: 1.5em;">  </i> -->

    </div>
<br><br>
    <div  class="leave">
        <br><br><br>
        <div class="l"><h2>Carrying forward of Non-medical leaves and accumulation</h2></div>
        <br><br>
        
            <ul>
                <h3 style="font-size: 1.5em;">All the 15 non-medical earned leaves for an year can be carried forward subject to 
                    following conditions:</h3>
                <li ><h3 style="font-size: 1.5em;">Total number of leaves which are carried into next year cannot exceed thirty (30), 
                    i.e. more than thirty (30) leaves cannot be carried forward to the next year. At the time 
                    of carrying forward, total such leaves (carrying forward) in excess of 30 will get lapsed.</h3></li>
                <li ><h3 style="font-size: 1.5em;">So, due to carry-over of leaves from previous year(s), total number of available
                    leaves may exceed 21 – but still the rules explained on previous slide about the
                    continuous leaves are applicable exactly</h3></li>
                <li ><h3 style="font-size: 1.5em;">Final decision of the timing of the leaves, i.e. the leave should be approved
                    for which date(s) still is the prerogative of the management.</h3></li>

            </ul>

    </div>
<br><br>
    <div  class="leave">
        <br><br><br>
        <div class="l"><h2>Encashment or Adjustments of carried forward leaves</h2></div>
        <br><br>
        <ul>
           <h3 style="font-size: 1.5em;"><u>Encashment :</u>  At the time of exit, the number of non-medical earned  leaves left,
                after completion of notice-period can be given in cash with full-and-final settlement
                of the employee’s compensation.</h3>
            <h3 style="font-size: 1.5em;"><u>Adjustment :</u> Leaves earned but not yet taken, can be adjusted in the notice period also. 
                For example, if the leaves earned but not yet taken comes out to 10 working days, 
                then the same will be adjusted (or subtracted from) in the working days of the notice
                period (prevailing notice period is 3 months).</h3>

        </ul>

    </div>
<br><br>
    <div  class="leave">
        <br><br><br>
        <div class="l"><h2>Leaves in excess of earned leaves</h2></div>
        <br><br>
        <ul>
            <h3 style="font-size: 1.5em;">If number of leaves taken by the employee exceeds the earned leaves then for the excess
                leaves, the salary equivalent to the number of days of excess leaves will be deducted
                accordingly.</h3>
            <h3 style="font-size: 1.5em;">The above-explained deduction will be done at end of calendar year or completion of the
                year for that employee. However, the management reserves the right to do the
                above-explained deduction in the immediate next salary. </h3>
            <h3 style="font-size: 1.5em;">Total monthly payout to the employee (including deductions) will be considered for doing
                this calculation.</h3>
        </ul>

    </div>
<br><br>
    <div  class="leave">
        <br><br><br>
        <div class="l"><h2>Holidays</h2></div>
        <br><br>
        <ul>
        <h3 style="font-size: 1.5em;">Company will give ten (10) holidays in a year, inclusive of compulsory national holidays.</h3>
        <h3 style="font-size: 1.5em;">List of holidays will be shared with everyone in the month of December.</h3>
        <h3 style="font-size: 1.5em;">Management reserves the right to make any change in the composition of the holidays.
            However, total number of leaves will still remain the same (10).</h3>
            </ul>

    </div>
</body>
</html>